{{#each pageContent}}
    <div class="card" style="width: 18rem; margin-bottom: 30px">
    <img src="{{avatar}}" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{ name }}</h5>
        <p class="card-text">{{ city }}</p>
    </div>
    </div>
{{/each}}